<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ITIan</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <header>
      <div class="container">
        <h1>ITIan Management</h1>
        <nav>
          <ul>
            <li><a href="{% url 'trainee_list' %}">Trainees</a></li>
            <li><a href="{% url 'course_list' %}">Courses</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="container">{% block content %}{% endblock %}</main>

    <footer>
      <p>&copy; 2025 ITIan Management System. All Rights Reserved.</p>
    </footer>
  </body>
</html>
